# Data Science And Analytics FutureSkill Training Program by Dr. Sunil Joshi

# Python Basic Program

# First Python Program

In [1]:
print('Hello Students, Welcome in Data Science and Analytics Course')

Hello Students, Welcome in Data Science and Analytics Course

In [2]:
print("Hello Students, Welcome in Data Science and Analytics Course")

Hello Students, Welcome in Data Science and Analytics Course

# Python Identifiers
    A Python identifier is a name used to identify a variable, function, class, module or other object. 
    An identifier starts with a letter A to Z or a to z or an underscore (_) followed by zero or more letters, underscores and     digits (0 to 9).
    Python does not allow punctuation characters such as @, $, and % within identifiers.
    Python is a case sensitive programming language. Thus, Manpower and manpower are two different identifiers in Python.

# Lines and Indentation
    Python does not use braces({}) to indicate blocks of code for class and function definitions or flow control. 
    Blocks of code are denoted by line indentation, which is rigidly enforced.
    The number of spaces in the indentation is variable, but all statements within the block must be indented the same amount.

In [3]:
if True:
print ("True")
else:
print ("False")

IndentationError: expected an indented block (<ipython-input-3-a4fc36cd22ef>, line 2)

In [4]:
if True:
 print ("True")
else:
 print ("False")

True

# Multi-Line Statements

In [9]:
item_one='m'
item_two='n'
item_three='o'

In [12]:
total=  item_one + \
        item_two + \
        item_three

In [13]:
print(total)

mno

# Quotation in Python

In [14]:
word= 'word'
sentence = "This is a sentence."
paragraph = """This is a paragraph. It is 
made up of multiple lines and sentences."""

In [16]:
# First comment
print ("Hello, SATIAN!") # second comment

Hello, SATIAN!

# Waiting for the User
The following line of the program displays the prompt and the statement saying “Press the enter key to exit”, and then waits for the user to take action

In [1]:
input("\n\nPress the enter key to exit.")

Press the enter key to exit.

''

# Multiple Statements on a Single Line

In [3]:
 import sys; x = 'foo'; sys.stdout.write(x + '\n')

foo

# Assigning Values to Variables
Python variables do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable. The equal sign (=) is used to assign values to variables.

In [4]:
schno= 2395 # An integer assignment
marks  = 67.50 # A floating point
name = "Sunil" # A string
print (schno)
print (marks)
print (name)

2395
67.5
Sunil

# Multiple Assignment

In [5]:
 a= b = c = 1

In [6]:
print(a,b,c)

1 1 1

In [8]:
a, b, c = 1, 2, 'john'

In [13]:
print(a,b,c)

1 2 john

In [14]:
print('a='+str(a) ,'b='+str(b),'c='+str(c))

a=1 b=2 c=john

# Numbers

In [15]:
S

In [16]:
print(a)
type(a)

10

int

In [17]:
print(b)
type(b)

25.67

float

In [18]:
print(c)
type(c)

(2+3j)

complex

# Strings

In [1]:
str = 'Hello SATIANS!'

In [2]:
print (str) # Prints complete string
print (str[0]) # Prints first character of the string
print (str[2:5]) # Prints characters starting from 3rd to 5th
print (str[2:]) # Prints string starting from 3rd character
print (str * 2) # Prints string two times
print (str + "Data Scientist") # Prints concatenated string

Hello SATIANS!
H
llo
llo SATIANS!
Hello SATIANS!Hello SATIANS!
Hello SATIANS!Data Scientist

# Python Lists

In [3]:
list = [ 'ram', 786 , 5.23, 'rahim', 70.2 ]
tinylist = [456, 'sunil']

In [4]:
print (list) # Prints complete list
print (list[0]) # Prints first element of the list
print (list[1:3]) # Prints elements starting from 2nd till 3rd
print (list[2:]) # Prints elements starting from 3rd element
print (tinylist * 2) # Prints list two times
print (list + tinylist) # Prints concatenated lists

['ram', 786, 5.23, 'rahim', 70.2]
ram
[786, 5.23]
[5.23, 'rahim', 70.2]
[456, 'sunil', 456, 'sunil']
['ram', 786, 5.23, 'rahim', 70.2, 456, 'sunil']

# Python Tuples

In [5]:
tuple = ( 'ram', 786 , 5.23, 'rahim', 70.2 )
tinytuple = (456, 'sunil')
print (tuple) # Prints complete tuple
print (tuple[0]) # Prints first element of the tuple
print (tuple[1:3]) # Prints elements starting from 2nd till 3rd
print (tuple[2:]) # Prints elements starting from 3rd element
print (tinytuple * 2) # Prints tuple two times
print (tuple + tinytuple) # Prints concatenated tuple

('ram', 786, 5.23, 'rahim', 70.2)
ram
(786, 5.23)
(5.23, 'rahim', 70.2)
(456, 'sunil', 456, 'sunil')
('ram', 786, 5.23, 'rahim', 70.2, 456, 'sunil')

In [ ]:
The following code is invalid with tuple, because we attempted to update a tuple, which is
not allowed. Similar case is possible with lists −

In [6]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2 )
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tuple[2] = 1000 # Invalid syntax with tuple
list[2] = 1000 # Valid syntax with list

TypeError: 'tuple' object does not support item assignment

# Python Dictionary
Python's dictionaries are kind of hash-table type. They work like associative arrays or hashes found in Perl and consist of key-value pairs.

In [7]:
dict = {}
dict['one'] = "This is one"
dict[2] = "This is two"
tinydict = {'name': 'john','code':6734, 'dept': 'sales'}
print (dict['one']) # Prints value for 'one' key
print (dict[2]) # Prints value for 2 key
print (tinydict) # Prints complete dictionary
print (tinydict.keys()) # Prints all the keys
print (tinydict.values()) # Prints all the values

This is one
This is two
{'name': 'john', 'code': 6734, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['john', 6734, 'sales'])

# Data Type Conversion
To convert between types, you simply use the type-name as a function.

In [8]:
x='10'
type(x)

str

In [9]:
a=int(x)
type(a)
print(a)

10

In [10]:
a=int(x,2)
type(a)
print(a)

2

In [11]:
x='12.50'
b=float(x)
type(b)
print(b)

12.5

In [12]:
a=3
b=5
c=complex(a,b)
type(c)
print(c)

(3+5j)

In [13]:
a=5
b=str(a)
type(b)
print(b)

TypeError: 'str' object is not callable

In [14]:
a=3
print('value of a='+a)

TypeError: can only concatenate str (not "int") to str

In [15]:
a=3
print('value of a='+str(a))

TypeError: 'str' object is not callable

In [21]:
x=repr('value of a='+str(a))
print(x)

'value of a=3'

In [22]:
x=eval('2+3')
print(x)

5

In [26]:
x='s'
b=tuple(x)
print(b)

('s',)

In [27]:
x='s'
b=list(x)
print(b)

['s']

In [28]:
x='s'
b=set(x)
print(b)

{'s'}

In [40]:
x = dict(name = "sunil", age = 42, country = "India")
print(x)

{'name': 'sunil', 'age': 42, 'country': 'India'}

In [42]:
# Python chr() function example  
# Calling function  
a = chr(65) # It returns string representation of a char  
z = chr(48)  
# Displaying result  
print(a)  
print(z)  
# Verify, is it string type?  
print("is it string type:", type(a) is str)

A
0
is it string type: True

In [43]:
 # the use of oct() function 
print("The octal representation of 23 is " + oct(23))

The octal representation of 23 is 0o27

In [44]:
# the use of oct() function 
print("The octal representation of 16 is " + hex(16))

The octal representation of 16 is 0x10

# Basic Operators

Operators are the constructs, which can manipulate the value of operands. 
Consider the expression 4 + 5 = 9. Here, 4 and 5 are called operands and + is called the operator.

# Python Arithmetic Operators

In [16]:
# Addition 
a=30
b=5
c=a + b 
print(c)
# Subtraction 
a=30
b=5
c=a - b 
print(c)
# Multiplication 
a=30
b=5
c=a * b 
print(c)
# Division 
a=30
b=5
c=a / b 
print(c)
# Modulo 
a=30
b=5
c=a % b 
print(c)
# power 
a=2
b=3
c=a ** b 
print(c)
# floor division 
print(9//2 )

35
25
150
6.0
0
8
4

In [46]:
a = 21
b = 10
c = 0
c = a + b
print ("Line 1 - Value of c is ", c)
c = a - b
print ("Line 2 - Value of c is ", c )
c = a * b
print ("Line 3 - Value of c is ", c)
c = a / b
print ("Line 4 - Value of c is ", c )
c = a % b
print ("Line 5 - Value of c is ", c)
a = 2
b = 3
c = a**b
print ("Line 6 - Value of c is ", c)
a = 10
b = 5
c = a//b
print ("Line 7 - Value of c is ", c)

Line 1 - Value of c is  31
Line 2 - Value of c is  11
Line 3 - Value of c is  210
Line 4 - Value of c is  2.1
Line 5 - Value of c is  1
Line 6 - Value of c is  8
Line 7 - Value of c is  2

In [48]:
a = 21
b = 10
if ( a == b ):
     print("Line 1 - a is equal to b")
else:
     print("Line 1 - a is not equal to b")

if ( a != b ):
     print ("Line 2 - a is not equal to b")
else:
     print ("Line 2 - a is equal to b")
if ( a < b ):
     print ("Line 3 - a is less than b" )
else:
     print ("Line 3 - a is not less than b")
if ( a > b ):
     print ("Line 4 - a is greater than b")
else:
     print ("Line 4 - a is not greater than b")
a,b=b,a #values of a and b swapped. a becomes 10, b becomes 21
if ( a <= b ):
     print ("Line 5 - a is either less than or equal to b")
else:
     print ("Line 5 - a is neither less than nor equal to b")
if ( b >= a ):
     print ("Line 6 - b is either greater than or equal to b")
else:
     print ("Line 6 - b is neither greater than nor equal to b")

Line 1 - a is not equal to b
Line 2 - a is not equal to b
Line 3 - a is not less than b
Line 4 - a is greater than b
Line 5 - a is either less than or equal to b
Line 6 - b is either greater than or equal to b

In [49]:
a = 21
b = 10
c = 0
c = a + b
print ("Line 1 - Value of c is ", c)
c += a
print ("Line 2 - Value of c is ", c )
c *= a
print ("Line 3 - Value of c is ", c )
c /= a
print ("Line 4 - Value of c is ", c )
c = 2
c %= a
print ("Line 5 - Value of c is ", c)
c **= a
print ("Line 6 - Value of c is ", c)
c //= a
print ("Line 7 - Value of c is ", c)

Line 1 - Value of c is  31
Line 2 - Value of c is  52
Line 3 - Value of c is  1092
Line 4 - Value of c is  52.0
Line 5 - Value of c is  2
Line 6 - Value of c is  2097152
Line 7 - Value of c is  99864

# Python Bitwise Operators

In [50]:
a=3    #  binary of a=3 is 011 
b=5    #  binary of b=5 is 101 

print(a&b)    #  011 & 101 = 001
print(a|b)    # 011 | 101  = 111
print(a^b)    # 011 ^ 101  =  110
print(~a )   #  ~011  = -100

1
7
6
-4

In [54]:
a=1 
b=0 
if(a and b):
    print("Logical And of a and b is true ")
else:
    print("Logical And of a and b is true ")

Logical And of a and b is true

# Membership Operator

In [57]:
a = 10
b = 20
list = [1, 20, 3, 4, 5 ]
if ( a in list ):
    print("a=10  is available in the given list")
else:
    print("a=10 is not available in the given list")

if ( b not in list ):
    print("b=20 is not available in the given list")
else:
    print("b=20 is available in the given list")

a=10 is not available in the given list
b=20 is available in the given list

# Python Identity Operators

In [60]:
a = 20
b = 20
print ('a=',a,':',id(a), 'b=',b,':',id(b))

if ( a is b ):
    print ("a and b have same identity")
else:
    print ("a and b do not have same identity")

if ( id(a) == id(b) ):
    print ("a and b have same identity")
else:
    print ("a and b do not have same identity")

a= 20 : 140727426069936 b= 20 : 140727426069936
a and b have same identity
a and b have same identity