# Data Science And Analytics FutureSkill Training Program by Dr. Sunil Joshi

# List, Tuple,Function Day4- 18/06/2020

# List

In [1]:
list1= ['physics', 'chemistry', 1997, 2000];
list2 = [1, 2, 3, 4, 5 ];
list3 = ["a", "b", "c", "d"];

In [2]:
print(list1)
print(list2)
print(list3)

['physics', 'chemistry', 1997, 2000]
[1, 2, 3, 4, 5]
['a', 'b', 'c', 'd']

# Accessing Values in Lists

In [4]:
list1 = ['maths', 'science', 2019, 2020]
list2 = [1, 2, 3, 4, 5, 6, 7 ]
print ("list1[0]: ", list1[0])
print ("list2[1:5]: ", list2[1:5]);

list1[0]:  maths
list2[1:5]:  [2, 3, 4, 5]

In [ ]:
Updating Lists

In [7]:
list1 = ['maths', 'science', 2019, 2020]
print ("Value available at index 2 : ", list1[2])
list1[2] = 2021
print ("New value available at index 2 : ", list1[2])

Value available at index 2 :  2019
New value available at index 2 :  2021

In [ ]:
Delete List Element

In [10]:
list1 = ['maths', 'science', 2019, 2020]
print (list1)
del list1[2]
print ("After deleting value at index 2 : ", list1)

['maths', 'science', 2019, 2020]
After deleting value at index 2 :  ['maths', 'science', 2020]

# Basic List Operations

In [11]:
print(len([1, 2, 3]))
print([1, 2, 3] + [4, 5, 6]) 
print(['Hi!'] * 4 )
print(3 in [1, 2, 3])
for x in [1,2,3] : print (x,end='')

3
[1, 2, 3, 4, 5, 6]
['Hi!', 'Hi!', 'Hi!', 'Hi!']
True
123

# Indexing, Slicing and Matrixes

In [13]:
L=['C++', 'Java', 'Python']
print(L[2])
print(L[-2])
print(L[1:])

Python
Java
['Java', 'Python']

# Built-in List Functions & Methods

In [14]:
list1 = ['physics', 'chemistry', 'maths']
print (len(list1))
list2=list(range(5)) #creates list of numbers between 0-4
print (len(list2))

3
5

In [15]:
list1, list2 = ['C++','Java', 'Python'], [456, 700, 200]
print ("Max value element : ", max(list1))
print ("Max value element : ", max(list2))

Max value element :  Python
Max value element :  700

In [16]:
list1, list2 = ['C++','Java', 'Python'], [456, 700, 200]
print ("Max value element : ", min(list1))
print ("Max value element : ", min(list2))

Max value element :  C++
Max value element :  200

In [17]:
aTuple = (123, 'C++', 'Java', 'Python')
list1 = list(aTuple)
print ("List elements : ", list1)
str="Hello World"
list2=list(str)
print ("List elements : ", list2)

List elements :  [123, 'C++', 'Java', 'Python']
List elements :  ['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

# List methods

In [18]:
list1 = ['C++', 'Java', 'Python']
list1.append('C#')
print ("updated list : ", list1)

updated list :  ['C++', 'Java', 'Python', 'C#']

In [19]:
aList = [123, 'xyz', 'zara', 'abc', 123];
print ("Count for 123 : ", aList.count(123))
print ("Count for zara : ", aList.count('zara'))

Count for 123 :  2
Count for zara :  1

In [21]:
list1 = ['physics', 'chemistry', 'maths']
list2=list(range(5)) #creates list of numbers between 0-4
list1.extend(list2)
print (list1)

['physics', 'chemistry', 'maths', 0, 1, 2, 3, 4]

In [22]:
list1 = ['physics', 'chemistry', 'maths']
print ('Index of chemistry', list1.index('chemistry'))
print ('Index of C#', list1.index('C#'))

Index of chemistry 1

ValueError: 'C#' is not in list

In [23]:
list1 = ['physics', 'chemistry', 'maths']
list1.insert(1, 'Biology')
print ('Final list : ', list1)

Final list :  ['physics', 'Biology', 'chemistry', 'maths']

In [24]:
list1 = ['physics', 'Biology', 'chemistry', 'maths']
list1.pop()
print ("list now : ", list1)
list1.pop(1)
print ("list now : ", list1)

list now :  ['physics', 'Biology', 'chemistry']
list now :  ['physics', 'chemistry']

In [25]:
list1 = ['physics', 'Biology', 'chemistry', 'maths']
list1.remove('Biology')
print ("list now : ", list1)
list1.remove('maths')
print ("list now : ", list1)

list now :  ['physics', 'chemistry', 'maths']
list now :  ['physics', 'chemistry']

In [26]:
list1 = ['physics', 'Biology', 'chemistry', 'maths']
list1.reverse()
print ("list now : ", list1)

list now :  ['maths', 'chemistry', 'Biology', 'physics']

In [27]:
list1 = ['physics', 'Biology', 'chemistry', 'maths']
list1.sort()
print ("list now : ", list1)

list now :  ['Biology', 'chemistry', 'maths', 'physics']

# Tuple

In [28]:
tup1= ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5 )
tup3 = "a", "b", "c", "d"

# Accessing Values in Tuples

In [29]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7 )
print ("tup1[0]: ", tup1[0])
print ("tup2[1:5]: ", tup2[1:5])

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

In [30]:
tup1 = (12, 34.56) 
# Following action is not valid for tuples
tup1[0] = 100;

TypeError: 'tuple' object does not support item assignment

# Delete Tuple Element

In [33]:
tup = ('physics', 'chemistry', 1997, 2000);
print (tup)
del tup;
print( "After deleting tup : ")
print(tup)

('physics', 'chemistry', 1997, 2000)
After deleting tup :

NameError: name 'tup' is not defined

In [34]:
tuple1, tuple2 = (123, 'xyz', 'zara'), (456, 'abc')
print ("First tuple length : ", len(tuple1))
print ("Second tuple length : ", len(tuple2))

First tuple length :  3
Second tuple length :  2

In [35]:
tuple1, tuple2 = ('maths', 'che', 'phy', 'bio'), (456, 700, 200)
print ("Max value element : ", max(tuple1))
print ("Max value element : ", max(tuple2))

Max value element :  phy
Max value element :  700

In [36]:
tuple1, tuple2 = ('maths', 'che', 'phy', 'bio'), (456, 700, 200)
print ("min value element : ", min(tuple1))
print ("min value element : ", min(tuple2))

min value element :  bio
min value element :  200

In [37]:
list1= ['maths', 'che', 'phy', 'bio']
tuple1=tuple(list1)
print ("tuple elements : ", tuple1)

tuple elements :  ('maths', 'che', 'phy', 'bio')

# Python 3 – Dictionary

In [39]:
dict = {'Name': 'Sunil', 'Age': 42, 'Class': 'First'}
print ("dict['Name']: ", dict['Name'])
print ("dict['Age']: ", dict['Age'])

dict['Name']:  Sunil
dict['Age']:  42

In [41]:
dict = {'Name': 'Ajay', 'Age': 27, 'Class': 'First'}
dict['Age'] = 28; # update existing entry
dict['School'] = "DPS School" # Add new entry
print ("dict['Age']: ", dict['Age'])
print ("dict['School']: ", dict['School'])

dict['Age']:  28
dict['School']:  DPS School

In [43]:
dict = {'Name': 'Ajay', 'Age': 27, 'Class': 'First'}
del dict['Name'] # remove entry with key 'Name'
dict.clear() # remove all entries in dict
del dict # delete entire dictionary
print ("dict['Age']: ", dict['Age'])
print ("dict['School']: ", dict['School'])

TypeError: 'type' object is not subscriptable

In [44]:
dict = {'Name': 'Joshi', 'Age': 47, 'Class': 'First'}
print ("Length : %d" % len (dict))

Length : 3

In [55]:
dict = {'Name': 'Manni', 'Age': 7, 'Class': 'First'}
print ("Variable Type : %s" % type (dict))

Variable Type : <class 'dict'>

In [52]:
# Python code to demonstrate 
# to conert dictionary into string 
# initialising dictionary 
test1 = { "testname" : "akshat", 
          "test2name" : "manjeet", 
          "test3name" : "nikhil"} 
print (type(test1)) 
print ("initial dictionary = ", test1)

<class 'dict'>
initial dictionary =  {'testname': 'akshat', 'test2name': 'manjeet', 'test3name': 'nikhil'}

# Dictionary Methods

In [56]:
dict = {'Name': 'Zara', 'Age': 7}
print ("Start Len : %d" % len(dict))
dict.clear()
print ("End Len : %d" % len(dict))

Start Len : 2
End Len : 0

In [57]:
dict1 = {'Name': 'Manni', 'Age': 7, 'Class': 'First'}
dict2 = dict1.copy()
print ("New Dictionary : ",dict2)

New Dictionary :  {'Name': 'Manni', 'Age': 7, 'Class': 'First'}

In [59]:
dict = {'Name': 'Zara', 'Age': 27}
print ("Value : %s" % dict.get('Age'))
print ("Value : %s" % dict.get('Sex', "NA"))

Value : 27
Value : NA

In [60]:
dict = {'Name': 'Zara', 'Age': 7}
print ("Value : %s" % dict.items())

Value : dict_items([('Name', 'Zara'), ('Age', 7)])

In [61]:
dict = {'Name': 'Zara', 'Age': 7}
print ("Value : %s" % dict.keys())

Value : dict_keys(['Name', 'Age'])

In [62]:
dict = {'Name': 'Zara', 'Age': 7}
print ("Value : %s" % dict.setdefault('Age', None))
print ("Value : %s" % dict.setdefault('Sex', None))
print (dict)

Value : 7
Value : None
{'Name': 'Zara', 'Age': 7, 'Sex': None}

In [63]:
dict = {'Name': 'Zara', 'Age': 7}
dict2 = {'Sex': 'female' }
dict.update(dict2)
print ("updated dict : ", dict)

updated dict :  {'Name': 'Zara', 'Age': 7, 'Sex': 'female'}

In [64]:
dict = {'Sex': 'female', 'Age': 7, 'Name': 'Zara'}
print ("Values : ", list(dict.values()))

Values :  ['female', 7, 'Zara']

# User Defined Function

In [2]:
def  display ( str ):
    "This is function to display"
    print(str) 
    return

In [3]:
display('sunil joshi')

sunil joshi

In [4]:
# Function definition is here
def modifyme( mylist ):
    "This function modify list"
    print ("Values before change: ", mylist)
    mylist[2]=50
    print ("Values after change: ", mylist)
    return

In [5]:
# Now you can call modifyme function
mylist = [10,20,30]
modifyme( mylist )
print ("Values outside the function: ", mylist)

Values before change:  [10, 20, 30]
Values after change:  [10, 20, 50]
Values outside the function:  [10, 20, 50]

In [6]:
# Function definition is here
def  display( str ):
    "This function prints a message"
    print (str)
    return
# Now you can call function
display ()

TypeError: display() missing 1 required positional argument: 'str'

Keyword Argument

In [9]:
# Function definition is here
def  display( str ):
    "This function prints a message"
    print (str)
    return
# Now you can call function
display (str='Hello Students')

Hello Students

In [11]:
# Function definition is here
def  displayinfo( name, age ):
    "This prints a passed info into this function"
    print ("Name: ", name)
    print ("Age ", age)
    return
# Now you can call printinfo function
displayinfo( age=42, name='sunil' )

Name:  sunil
Age  42

Default Arguments

In [12]:
# Function definition is here
def displayinfo( name, age = 35 ):
    "This prints a passed info into this function"
    print ("Name: ", name)
    print ("Age ", age)
    return
# Now you can call printinfo function
displayinfo( age=47, name="ajay" )
displayinfo( name="rahul" )

Name:  ajay
Age  47
Name:  rahul
Age  35

Variable length

In [13]:
# Function definition is here
def printinfo( arg1, *vartuple ):
    "This prints a variable passed arguments"
    print ("Output is: ")
    print (arg1)
    for var in vartuple:
        print (var)
    return
# Now you can call printinfo function
printinfo( 10 )
printinfo( 70, 60, 50 )

Output is:
10
Output is:
70
60
50

Example of  Anonymous Functions

In [14]:
# Function definition is here
sum = lambda arg1, arg2: arg1 + arg2
# Now you can call sum as a function
print ("Value of total : ", sum( 10, 20 ))
print ("Value of total : ", sum( 20, 20 ))

Value of total :  30
Value of total :  40

Return Statement

In [15]:
# Function definition is here
def sum( arg1, arg2 ):
    # Add both the parameters and return them."
    total = arg1 + arg2
    print ("Inside the function : ", total)
    return total
# Now you can call sum function
total = sum( 10, 20 )
print ("Outside the function : ", total )

Inside the function :  30
Outside the function :  30

Global vs Local

In [16]:
total = 0 # This is global variable.
# Function definition is here
def sum( arg1, arg2 ):
    # Add both the parameters and return them."
    total = arg1 + arg2; # Here total is local variable.
    print ("Inside the function local total : ", total)
    return total
# Now you can call sum function
sum( 10, 20 )
print ("Outside the function global total : ", total )

Inside the function local total :  30
Outside the function global total :  0

In [17]:
# Import built-in module math
import math
content = dir(math)
print (content)

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']